.input-card {
    display: flex;
    flex-direction: column;
    background-color: rgb(75, 75, 75);
    border-radius: 3px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
  }
  
  .input-card form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .input-card form textarea {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    padding: 10px;
    overflow: hidden;
    resize: none;
  }
  
  .input-card form div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .input-card form div span {
    font-size: 1em;
    color: white;
    cursor: pointer;
  }
  
  .input-card form div input[type='submit'] {
    width: fit-content;
    border: none;
    border-radius: 3px;
    padding: 3px 50px;
    cursor: pointer;
    margin-left: 10px;
  }